/* עיצוב כללי לטבלה */
.w3-table-all {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  /* כותרת הטבלה */
  .w3-table-all th {
    background-color: #0a223b;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  /* גוף הטבלה */
  .w3-table-all td {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: none;
    text-align: center;
  }
 
  .pageNumber{
    color: rgb(179, 174, 174);
    margin-top: 25%;
    margin-bottom: 2%;
  }
