.app{
    background-image: url('./assets/bckg.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    overflow-y: auto;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}